<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Azure Storage Details</title>
  <meta name="description" content="Azure Storage Details">
  <meta name="author" content="Praneeth Putha">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />


</head>
<body>
<div class="jumbotron">
 <div class="container">
<h1> Howdy </h1>
  <p>For Blob Storage click below </p>
    <a class="btn btn-info btn-lg" role="button" href="./blobs">List blobs</a>&nbsp;
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>



</body>
</html>

